.container {
  width: 100%;
  height: 20em;
}

.wrapper {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #000;
}

.contentWrapper {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  flex-basis: 15%;
  display: flex;
}

.logo img {
  height: 50%;
}

.shortLinksWrapper {
  display: flex;
  flex-basis: 70%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.quickLinks {
  font-size: 12px;
  flex-basis: 20%;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.quickLinks h3 {
  color: #fff;
  font-weight: bold;
}

.listWrapper {
  transform: translateY(20%);
}

.list {
  list-style: none;
}

.listElements {
  font-size: 1rem;
  line-height: 1.5;
}

.openingHours {
  text-transform: capitalize;
  font-size: 12px;
  flex-basis: 20%;
  flex-wrap: wrap;
}

.openingHours h3 {
  color: #fff;
}

.openingHourDetail {
  transform: translateY(60%);
  color: #fff;
  line-height: 1.7;
  font-size: 1rem;
}

.openingHourDetail span {
  font-weight: bold;
}

.openingHourDetail p {
  font-weight: lighter;
}

.contactInfo {
  flex-basis: 20%;
  text-transform: capitalize;
  font-size: 12px;
  flex-wrap: wrap;
}

.contactInfo h3 {
  color: #fff;
  align-self: flex-start;
}

.contactInfoDetail {
  transform: translateY(25%);
  color: #fff;
  font-size: 1rem;
}

.contactInfoDetail address,
p {
  font-weight: bold;
  line-height: 1.5;
}

.subscribe {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  flex-basis: 20%;
  font-size: 12px;
  flex-wrap: wrap;
}

.subscribe h3 {
  align-self: flex-start;
  color: #fff;
}

.subscribeEvents {
  display: flex;
  flex-direction: column;
  height: 16.6em;
  transform: translateY(15%);
}

.form {
  display: flex;
}

.input {
  width: 12vw;
  height: 3em;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.button {
  height: 3em;
  width: 5vw;
  border-color: #ff0000;
  font-size: 13px;
}

.text {
  color: #fff;
  font-weight: lighter;
  transform: translateY(25%);
  font-size: 0.9rem;
}

.bottomSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 8em;
  align-items: center;
  flex-wrap: wrap;
}

.copyright span {
  font-weight: lighter;
  color: #fff;
  text-transform: uppercase;
}
.brandslogos {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 20%;
}

.hints {
  flex-basis: 30%;
  display: flex;
  justify-content: space-evenly;
}

.hints span {
  font-weight: lighter;
  color: #fff;
  text-transform: capitalize;
}
