.bg{
    background-color: white;
}
/* images */
.images{
    max-width: 1300px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid red;
    height: 200px;
    text-align: center;
    background-color: inherit;
    background-image:url("../../Asset/com.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}


.comImg {
    max-width: 1fr;
    height:200px;

}
/* #Top after image after nav */
/* .map {
    width: 50%;
    height: auto;
    background-color: azure;
    margin-top: 40px;
    border: 0;
} */
/* Welcome Message */
.contactTop {
    text-align: center;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    /* border: 1px solid red; */
    height: auto;
    position: relative;
}

.conUs {
    font-weight: 700;
    align-items: center;
}
.contactTop1 {
    text-align: center;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* border: 1px solid red; */
    height: auto;
    position: relative;
}

/* Small boxes */
.eachbox{
    padding-left: -5;
    padding-right: -5;
}
.smallBox {
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
}

.smallBox > h5 {
    text-align: left;
}

/* Forma and map */
.formGroup {
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 40px;
    padding: 70px;
    border: 1px solid salmon;
}


.formOrder {
    padding-left: 20px;
    padding-right: 20px;
}

.map{
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: azure;


}

