.container {
  width: 100%;
  height: 100em;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: grid;
  grid-gap: 1em;
}

.sectionOne {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aside {
  flex-basis: 25%;
  height: 98.5em;
  display: flex;
  flex-direction: column;
}

.asideOne {
  flex-basis: 25%;
  border: 2px solid #ccc;
}

.asideTwo {
  flex-basis: 25%;
  border: 2px solid #ccc;
  margin-top: 5em;
}
.avMenu {
  background-color: #f76057;
  height: 3em;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 3em;
}

.avMenu h3 {
  text-transform: uppercase;
}

.checkIcon {
  height: 20vh;
}

.list {
  list-style: none;
  line-height: 1.5em;
}

.category {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eee;
  padding-left: 2em;
  flex-basis: 100%;
  font-weight: normal;
}

.category:hover {
  border-left: 5px solid #f76057;
  font-weight: bold;
}

.display {
  flex-basis: 65%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menuDisplay {
  width: 40%;
  height: 30em;
  display: flex;
  border: 2px solid rgb(248, 109, 248);
  overflow: hidden;
}

.menuImage {
  width: 100%;
  flex: 1;
  height: 12em;
}

.menuImage img {
  border-radius: 0;
  width: 100%;
  height: inherit;
}

.menuCaption {
  height: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.captionsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10em;
  text-align: center;
  transform: translateY(10%);
  flex-wrap: wrap;
}

.captionsWrapper h3 {
  text-transform: capitalize;
}
.captionsWrapper p {
  font-weight: lighter;
}

.captionsWrapper span {
  font-weight: bold;
}

.addCart {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCart span {
  width: 40%;
  height: 2.5em;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.DropDowns {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  height: 30em;
}

.catWrapper {
  height: 13em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nameWrapper {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 3em;
}

.nameWrapper h3 {
  text-transform: uppercase;
}

.trailingLine {
  margin: 5px;
}

.filterCategoryList {
  list-style: none;
}

.filterCat {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 2em;
  flex-basis: 100%;
  font-weight: normal;
  line-height: 1.5;
}

.filterCat:hover {
  border-left: 5px solid #f76057;
  font-weight: bold;
}

.brandWrapper {
  height: 20.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5em;
  transform: translateY(-10%);
}

.secNameWrapper {
  height: 3em;
  display: flex;
  align-items: center;
  background-color: #eee;
}

.secNameWrapper h3 {
  text-transform: uppercase;
}

.brandLists {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.brand {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 2em;
  flex-basis: 100%;
  font-weight: normal;
  height: 15em;
}

.brand:hover {
  border-left: 5px solid #f76057;
  font-weight: bold;
}
