.section {
  width: 100%;
  height: 30em;

  margin-bottom: 5em;
}

.container {
  width: 100%;
  height: 35em;

  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 22em;
  display: flex;
  justify-content: space-between;
}

.image {
  border-radius: 0;
  height: 25.8em;
  flex-basis: 50%;
}

.image img {
  width: 100%;
  height: inherit;
}
.aside {
  flex-basis: 50%;
  height: 25.8em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  flex-basis: 70%;
  display: grid;
  grid-gap: 10%;
}

.textWrapper h2,
h4 {
  text-transform: uppercase;
}

.textWrapper h4 {
  opacity: 0.4;
}

.text figure {
  font-weight: lighter;
  line-height: 2;
}
