.allContainer {
  width: 100%;
  height: 60em;
  background-color: yellow;
}
.topArea {
  background-image: linear-gradient(rgba(0, 00, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../Asset/Rectangle 194.svg");
  background-color: blue;
  width: 100%;
  height: 43em;
  background-size: cover;
}

.emphasis {
  width: 100%;
  height: 31em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
  position: relative;
}

.textWrapper {
  background-color: #000;
  width: 40%;
  height: 8em;
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  opacity: 0.2;
  transform: translate(0%, -30%);
}

.text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 90%;
}

.text p {
  color: #fff;
  font-size: 3.3em;
  text-transform: uppercase;
  word-spacing: 2.4vw;
}

.search {
  display: flex;
  align-items: center;
}

.input {
  width: 33vw;
  height: 3em;
  border-radius: 5px;
  padding-left: 2em;
  outline: none;
  border: none;
  font-size: 1em;
}

.searchIcon {
  transform: translateX(-3vw);
}
