.section {
  width: 100%;
  height: 38em;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  width: 30%;
  height: 6em;
  display: flex;
  align-items: center;
  transform: translateX(10%);
}

.tag {
  width: 4%;
  height: 4em;
  background-color: #ff0000;
}

.title {
  width: 100%;
  display: flex;
}

.title h2 {
  font-size: 30pt;
  text-transform: uppercase;
  margin-left: 7%;
}

.testimony {
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonyContainer {
  width: 40%;
  height: 25em;
  display: flex;
  justify-content: center;
}

.testimonyWrapper {
  width: 90%;
  height: 25em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 10px 30px #ccc);
}

.texts {
  width: 75%;
  height: 10em;
  flex-basis: 30%;
}

.texts p {
  font-family: fantasy;
  line-height: 2;
}

.testifierInfo {
  width: 75%;
  height: 10em;
  display: flex;
  align-items: center;
}

.pix {
  width: 35%;
  display: flex;
  padding-left: 10px;
}

.pix img {
  width: 100%;
  border-radius: 50%;
}

.testifierDesc {
  width: 50%;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testifierDesc strong {
  color: #000;
  transform: translate(6%, -40%);
  font-weight: bold;
  text-transform: capitalize;
}

.testifierDesc em {
  color: #000;
  transform: translateX(10%);
  font-weight: bold;
  text-transform: uppercase;
}
