.section {
  width: 100%;
  height: 40em;
  display: flex;
  flex-direction: column;
}

.CategoryWrapper {
  height: 6em;
}

.CategoryName {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(10%);
}

.tag {
  width: 5%;
  height: 4em;
  background-color: #5adaf7;
}

.cat {
  display: flex;
  height: inherit;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.cat h2 {
  font-size: 27pt;
  text-transform: uppercase;
  transform: translateX(7%);
}

.testimony {
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonyContainer {
  flex-basis: 40%;
  height: 25em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
}

.testimonyWrapper {
  width: 90%;
  height: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 10px 30px #ccc);
  transition: transform 2s ease-in;
}

.testimonyWrapper:hover {
  transform: translateX(11%);
}

.texts {
  width: 75%;
  height: 10em;
  flex-basis: 30%;
  overflow: hidden;
}

.texts p {
  font-family: fantasy;
  line-height: 2;
}

.testifierInfo {
  width: 75%;
  height: 10em;
  display: flex;
  align-items: center;
}

.pix {
  width: 35%;
  display: flex;
  padding-left: 10px;
}

.pix img {
  width: 100%;
  border-radius: 50%;
}

.testifierDesc {
  width: 50%;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testifierDesc strong {
  color: #000;
  transform: translate(6%, -40%);
  font-weight: bold;
  text-transform: capitalize;
}

.testifierDesc em {
  color: #000;
  transform: translateX(10%);
  font-weight: bold;
  text-transform: uppercase;
}
